@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Quattrocento+Sans&family=Roboto:wght@100;300&family=Ubuntu:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}


/* Header ----------------------------------------------- */
header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  z-index: 2;
  background: #ffffff;
  border-bottom: 2px solid black;
  opacity: 0.8;
}

header .menu {
  position: relative;
  transition: 1s;
}

.logo {
  height: 50px;
  width: 50px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  top: 5px;
}

header ul li a {
  position: relative;
  padding: 10px 60px;
  color: #fff;
  transition: 0.5s;
  display: inline-block;
  color: black;
}
header ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: 1s ease;
}
header ul li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: 1s ease;
}

header ul li:hover a::before,
header ul li:hover a::after {
  border-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 238, 0);
}

@media (max-width: 850px) {
  header {
    display: none;
  }
}

@media (min-width: 851px) {
  .navbar {
    display: none;
  }
}

button {
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  background: linear-gradient(45deg,rgb(218, 217, 211),rgb(45, 144, 190));
  border-radius: 5%;
}

button:hover {
  color: white;
}

@media (max-width:800px){
  button {
    font-size: 1.5rem;
  }
}
@media (max-width:350px){
  button {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
}

/* Navbar -----------------------------------------------  */
nav a:hover {
  color: rgb(17, 0, 255);
}

/* Section page principale -----------------------------------------------  */
.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
  background: url(/images/restos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid black;
}

.principale {
  text-align: center;
  position: absolute;
  top: 35%;
  width: 100%;
}

.principale2 {
  text-align: center;
  position: absolute;
  top: 60%;
  width: 100%;
}

/* Section information  -----------------------------------------------  */
.information {
  text-align: center;
  min-height: 10vh;
}
.information2 {
  text-align: center;
  min-height: 20vh;
}

.barre::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 80px;
  height: 3px;
  background-color: #000;
}


/* Parallax 1 et 2 -----------------------------------------------  */
.parallax {
  padding: 0;
  margin: 0;
}

.parallax-bg {
  margin: 0;
  position: relative;
  padding: 14%;
  background-image: url(/images/chef.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.degrade {
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  clip-path: polygon(100% 0, 100% 0, -100% 0%, 100% 200%);
  font-size: 1.8rem;
  color: white;
}

.degrade2 {
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
  clip-path: polygon(100% 0, 100% 0, -100% 0%, 100% 200%);
  color: white;
  font-size: 1.8rem;
}

@media (max-width:800px){
  .parallax-bg{
  padding: 52%;
  }
  .degrade{
    left: 8%;
    }
  .degrade2{
    right: 8%;
  }
}

@media (max-width:440px){
  .degrade .rbt, .degrade2 .rbt{
    font-size: 1rem;
  }
  .parallax-bg{
    padding: 52%;
  }
}
@media (max-width:350px){
  .parallax-bg{
    height: 65vh;
  }
}

@media (max-width:290px){
  .parallax-bg{
    height: 85vh;
  }
}

@media (min-width:500px) and (max-width:767px){
  .parallax-bg{
    padding: 38%;
  }
  .degrade{
    left: 0%;
  }
  .degrade2{
    right: 0%;
  }
}

@media (min-width:768px){
  .parallax-bg{
    padding: 20%;
  }
  .degrade {
    left: 0%;
  }
  .degrade2{
    right: 0%;
  }
}

@media (min-width:992px){
  .parallax-bg{
    padding: 17%;
  }
} 

@media (min-width:1339px){
  .parallax-bg{
    padding: 14%;
  }
} 

@media (min-width:1600px){
  .parallax-bg{
    padding: 12%;
  }
} 

@media (min-width:1850px) {
  .degrade{
    height: 65%;
  }
  .degrade2{
    height: 50%;
  }
}

/* Aside avec images -----------------------------------------------  */
.img1, .img2, .img3, .img4,  .img6 {
  position: relative;
  padding: 15%;
  background-size: cover;
  border-radius: 5%;
}
.img5{
  position: relative;
  padding: 15%;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
}


.img1 {
  background-image: url(/images/asperges.jpg);
}
.img2 {
  background-image: url(/images/langoustine.jpg);
}
.img3 {
  background-image: url(/images/fromage.jpg);
}
.img4 {
  background-image: url(/images/fraises.jpg);
}
.img5 {
  background-image: url(/images/plat.jpg);
}
.img6 {
  background-image: url(/images/dessert.jpg);
}

@media (min-width:576px) {
  .img1, .img2, .img3, .img4 {
  position: relative;
  padding: 8%;
  background-size: cover;
  border-radius: 5%;
  }
}

@media (min-width:500px){
  .img5, .img6 {
    display: none;
  }
}

/* Footer -----------------------------------------------   */
footer {
  min-height: 25vh;
  background-color: black;
  color: white;
}

.barre-yellow::after {
  content: "";
  display: block;
  margin-top: 15px;
  width: 80px;
  height: 3px;
  background-color: rgb(223, 190, 43);
}

footer a {
  color: white;
}

/* Divers */
.barre {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.rbt {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}